.add-form {
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 35px 35px 0 0;
    display: flex;
    flex-direction: row;
}

.add-form-inner {
    width: 100%;
    margin: 40px 70px 0 70px;
}

.add-form-inner h3 {
    font-size: 42px;
    margin: 0 0 30px 0;
}

.add-form-inner__form {
    display: flex;
    flex-direction: column;
}

.add-form-inner__form > label {
    margin: 20px 0 0 0;
    font-size: 28px;
}

.add-form-inner__form input {
    margin-left: 20px;
    color: #494949;
    background-color: #C2C2C2;
    border-radius: 35px;
    padding-left: 20px;
    height: 35px;
    font-size: 28px;
    border: none;
    width: 30%;
    transition: width 0.5s ease-in-out;
}

.add-form-inner__form input[type='text']:focus {
    width: 50%;
}

.add-form-inner__form input:focus-visible {
    outline: none;
    border: none;
}

.add-form-inner__form > p {
    font-size: 18px;
    margin: 15px 10px 15px 0;
}

#file {
    background-color: #D9D9D9;
    height: 50px;
    border-radius: 0;
}

.add-form-inner__form button {
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    width: 160px;
    height: 70px;
    border-radius: 40px;
    border: none;
    background-color: #C2C2C2;
    margin-left: 40%;
}
