.whole-auth {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks {
    width: 71%;
    min-width: 1370px;
    display: flex;
    justify-content: space-between;
}

.blocks-auth {
    height: 690px;
    width: 55%;
    min-width: 750px;
    border: 3px solid transparent;
    background: linear-gradient(#D9D9D9 0 0) padding-box,
    linear-gradient(-40deg, #AE84E3 0%, #9537C1 100%) border-box;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.welcome {
    padding: 70px 0;
}

.welcome span {
    font-size: 64px;
    color: #ffffff;
}

#welcome-text {
    -webkit-text-stroke: 1px #494949;
}

#gitcoin-text {
    background-image: linear-gradient(to right, #AE84E3 0%, #9537C1 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.auth-form {
    width: 100%;
}

.auth-form > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.auth-form > form > input {
    padding-left: 20px;
    height: 80px;
    min-width: 440px;
    width: 60%;
    border: none;
    outline: none;
    color: #7a7a7a;
    background-color: #FFF;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: 'Ubuntu', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.auth-form > form > input::placeholder {
    color: #b7b7b7;
}

#password {
    margin-bottom: 90px;
}

.auth-form > form > button {
    height: 80px;
    min-width: 440px;
    width: 60%;
    background-color: #AE84E3;
    color: #F2F2F2;
    font-size: 42px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none;
}

.blocks-info {
    width: 40%;
    min-width: 540px;
    height: 690px;
    border: none;
    border-radius: 60px;
    background: linear-gradient(to left, #E3A8FF 0%, #AE84E3 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gitcoin-image > img {
    margin: 90px;
}

.message {
    height: 100px;
    width: 100%;
}

.message__p {
    text-align: center;
    font-size: 40px;
    color: #FFF;
}

