* {
    margin: 0;
    padding: 0;
}

html, body, .whole-page {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: #C2C2C2;
    height: 100%;
    margin: 0;
    padding: 0;
}

p::selection, b::selection {
    background-color: #AE84E3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-input-placeholder {
    color: #707070;
}

p, label, h3, button {
    color: #464646;
}

.header {
    background-color: #9537C1;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    min-width: 700px;
}

.logo {
    background-color: #AE84E3;
    border-radius: 128px;
    width: 205px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > img {
    width: 180px;
}

.header-links a {
    font-size: 42px;
    color: #FFF;
    text-decoration: none;
    margin: 0 50px 0 0;
}

.header-links a:hover {
    text-decoration: underline;
    transition: 0.5s color ease-in-out;
    color: #bebebe;
}