.subheader {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 37px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.subheader > p {
    margin-left: 40px;
    font-size: 42px;
    letter-spacing: 3px;
}

.currencies {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 37px 37px 0 0;
    height: calc(100% - 140px);
    max-height: calc(100% - 140px);
    display: flex;
    flex-direction: column;
}

.currencies_titles, .currency-div {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.currencies_titles > p, .currencies_titles > label {
    margin: 25px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.currencies_titles > .currency-img-name {
    justify-content: flex-start;
    margin-left: 40px;
}

.currency-img-name, .currency-price, .currency-amount, .currency-button {
    grid-column-start: span 1;
}

.currency-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 20px);
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 20px;
    overflow-y: auto;
}

.currency-div {
    min-height: 100px;
    border-radius: 27px;
    background-color: #F2F2F2;
    width: 97%;
}

.currency-div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.currency-div > .currency-img-name {
    justify-content: flex-start;
    gap: 20px;
}

.currency-div > div > p, .currency-div > div > a {
    text-decoration: none;
    color: #494949;
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-family: 'Ubuntu Thin', sans-serif;
}

.img-box {
    min-width: 78px;
    min-height: 78px;
    border: 1px solid #C2C2C2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

#buy-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

#favorite-img {
    margin-left: 40px;
    transition: all 1.5s ease-in-out;
}

.currency-button > button {
    height: 78px;
    width: 240px;
    border: none;
    border-radius: 20px;
    background-color: #AE84E3;
    color: #F2F2F2;
    font-size: 42px;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 12px;
}

.currency-button > button:hover {
    transition: background-color 2s ease-in-out;
    background-color: #9537C1;
}

.currency-select {
    border: none;
    border-radius: 10px;
    height: 70px;
    width: 100%;
    margin-right: 40px;
    background-color: #AE84E3;
    color: #F2F2F2;
    text-align: center;
    font-size: 42px;
    font-family: 'Ubuntu', sans-serif;
}

.currency-select:focus-visible, .currency-select:hover {
    outline: none;

}

.currency-select:hover {
    background-color: #a069e7;
    transition: background-color 2s ease-in-out;
}

option[disabled], option:disabled, option:invalid {
    color: #F2F2F2;
    font-size: 42px;
}
option{
    font-size: 26px;
}

::-webkit-scrollbar {
    background-color: #F2F2F2;
    width: 13px;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #C2C2C2;
    border-radius: 10px;
    border: 3px solid #F2F2F2;
}
