.menu_main_part {
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
}

.menu {
    background-color: #D9D9D9;
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu p {
    padding: 65px 0 40px 0;
    color: #494949;
    font-size: 40px;
    margin: 0;
}

.menu__div {
    width: 270px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C2C2C2;
    border-radius: 30px;
    margin: 20px 0 0 0;
}

.menu__div:hover {
    transition: 0.4s background-color ease-in-out;
    background-color: #afafaf;
}

.menu a {
    font-size: 28px;
    text-decoration: none;
    color: #494949;
}

.menu a:hover {
    text-decoration: none;
}

.main_part {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 55px 0 55px;
    gap: 30px;
    min-width: 1150px;
}