.trade-form {
    display: flex;
    visibility: hidden;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background-color 2s;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.buy-sell-form {
    display: flex;
    position: absolute;
    width: 700px;
    height: 550px;
    background-color: #FFF;
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.buy-sell-form form {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-sell-form .form-balance {
    font-size: 40px;
    margin: 15px auto;
}

.buy-sell-form .form-text {
    font-family: "Ubuntu Thin", sans-serif;
    font-size: 35px;
    margin: 5px auto;
}

.buy-sell-form .form-input {
    border: none;
    outline: none;
    height: 50px;
    font-size: 40px;
    font-family: "Ubuntu Thin", sans-serif;
    border-radius: 30px;
    background-color: #C2C2C2;
    color: #494949;
    padding: 0 20px;
    margin: 10px auto;
    text-align: center;
}

.buy-sell-form .form-button {
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    background-color: #AE84E3;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    margin: 10px auto;
}
