.profile {
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    border-radius: 60px 60px 0 0;
}

.profile-information-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-information-title p {
    font-size: 64px;
    font-family: 'Ubuntu', sans-serif;
    margin: 30px auto;
}

.profile-balance {
    margin: 0 40px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.balance {
    background-color: #FFF;
    border-radius: 35px;
    width: 48%;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.balance > p {
    width: 50%;
    margin: auto 20px;
    font-family: "Ubuntu Thin", sans-serif;
    font-size: 64px;
    text-align: center;
    overflow: hidden;
}

.balance form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.balance input {
    padding: 0 20px;
    background-color: #C2C2C2;
    height: 85px;
    border-radius: 25px;
    width: 48%;
    margin: auto 15px;
    outline: none;
    border: none;
    color: #494949;
    font-size: 55px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.balance button {
    background-color: #AE84E3;
    color: #fff;
    font-size: 55px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    height: 85px;
    width: 48%;
    margin: auto 15px;
    border: none;
    border-radius: 25px;
}

.balance button:hover {
    background-color: #9537C1;
    transition: background-color 1s ease-in-out;
}

.profile-currencies {
    height: calc(100% - 285px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.currencies-titles {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    width: 100%;
}

.currencies-titles > p {
    font-size: 50px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 20px auto;
}