.transactions {
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    border-radius: 60px 60px 0 0;
}

.transaction-information-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.transaction-information-title p {
    font-size: 64px;
    font-family: 'Ubuntu', sans-serif;
    margin: 30px auto;
}

.transaction-currencies {
    height: calc(100% - 150px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.transactions-titles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
}

.transactions-titles > p {
    font-size: 50px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 20px auto;
}

.transaction-info {
    grid-column-start: span 1;
}
