{% extends 'main_page.html' %}
{% block links %}
	<link href="../static/css/menu_style.css" rel="stylesheet">
	<link href="../static/css/add_currecy_style.css" rel="stylesheet">
{% endblock %}
{% block main_part %}
	<div class="add-form">
		<div class="add-form-inner">
			<h3>Add your own currency</h3>
			<form method="POST" enctype="multipart/form-data" class="add-form-inner__form" action="?">
				<label>Currency's name:
					<input type="text" name="name" placeholder="Name...">
				</label>
				<p>Usually people call their currencies like SmthCoin.</p>
				<label>Description:
					<input type="text" name="description" placeholder="Description...">
				</label>
				<p>Here you can place some information about your coin.</p>
				<label>Price in dollars:
					<input type="number" step="0.01" name="price" placeholder="Price..." min="0">
				</label>
				<p>This field shows how many dollars cost your coin.</p>
				<label>Amount:
					<input type="number" step="0.01" name="amount" placeholder="Amount..." min="0">
				</label>
				<p>How many coin do you want to place.</p>
				<label>Logo:
					<input id="file" type="file" name="logo" placeholder="Logo...">
				</label>
				<p>Logo of your coin. (Recommended 73x73px)</p>
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}