{% extends 'base.html' %}
{% block links %}
	<link rel="stylesheet" href="../static/css/auth_style.css">
{% endblock %}
{% block auth_part %}
	<div class="whole-auth">
		<div class="blocks">
			<div class="blocks-auth">
				<div class="welcome">
					<b><span id="welcome-text">Welcome to </span>
						<span id="gitcoin-text">GitCoin</span></b>
				</div>
				<div class="auth-form">
					<form method="post">
						<input type="text" placeholder="Username" name="username" required>
						<input type="password" id="password" placeholder="Password" name="password" required>
						<button>
							{% if login %}
								Sign in
							{% else %}
								Sign up
							{% endif %}
						</button>
					</form>
				</div>
			</div>
			<div class="blocks-info">
				<div class="gitcoin-image">
					<img alt="gitcoin-logo" src="../static/images/small_logo_only.png">
				</div>
				<div class="message">
					<b><p class="message__p">{% if message %}{{ message }}{% endif %}</p></b>
				</div>
			</div>
		</div>
	</div>
{% endblock %}