<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GitCoint | CryptoP2P Platform</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
	<link href="../static/css/base_style.css" rel="stylesheet">
	<link href="../static/css/overlay_form_style.css" rel="stylesheet">
	{% block links %}
	{% endblock %}
</head>
<body>
<div class="trade-form" id="background-overlay">
	{% block sell_form %}
	{% endblock %}
	{% block buy_form %}
	{% endblock %}
</div>
<div class="whole-page">
	<div class="header">
		<div>
			<a class="logo" href="{{ url_for('main_view') }}">
				<img alt="gitcoin_logo" src="../static/images/small_gitcoin_logo.png">
			</a>
		</div>
		<div class="header-links">
			{% if is_authenticated %}
				<a href="{{ url_for('logout') }}">Log out</a>
			{% else %}
				<a href=" {{ url_for('login_view') }}">Sign in</a>
				<a href=" {{ url_for('register_view') }}">Sign up</a>
			{% endif %}

		</div>
	</div>
	{% block menu_main_part %}
	{% endblock %}
	{% block auth_part %}
	{% endblock %}
</div>
</body>
</html>