{% extends 'main_page.html' %}
{% block main_part %}
	<div class="favorites">
		<div class="favorites-information-title">
			<p>Favorite currencies</p>
		</div>
		<div class="favorites-currencies">
			<div class="favorites-titles">
				<p style="margin-left: 40px; text-align: left;">Currency</p>
				<p>Price</p>
				<p>Amount</p>
			</div>
			<div class="currency-divs">
				{% if favorites %}
					{% for favorite in favorites %}
						{% if favorite.amount > 0.00001 %}
							<div class="currency-div" style="grid-template-columns: 1fr 1fr 1fr">
								<div class="currency-img-name">
									<div class="img-box">
										<img src="static/images/{{ favorite.logo }}"
											 alt="{{ favorite.logo }} image"
											 width="73px">
									</div>
									<p>{{ favorite.name }}</p>
								</div>
								<div class="favorites-info">
									<p>{{ favorite.cost_dollar|price_format }}</p>
								</div>
								<div class="favorites-info">
									<p>{{ favorite.amount }}</p>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% else %}
					<p style="font-size: 30px; margin: 60px auto">There are no any favorites :(</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}