{% extends 'base.html' %}
{% block links %}
	<link href="../static/css/menu_style.css" rel="stylesheet">
	<link href="../static/css/market_style.css" rel="stylesheet">
	<link href="../static/css/profile_style.css" rel="stylesheet">
	<link href="../static/css/transactions_style.css" rel="stylesheet">
	<link href="../static/css/favorite_style.css" rel="stylesheet">
{% endblock %}

{% block sell_form %}
	{% if sell %}
		{% if is_authenticated %}
			<div class="buy-sell-form" id="sell-form">
				<p class="form-text" id="sell-name">You want to sell:</p>
				<p class="form-text" id="sell-amount">Available to sell:</p>
				<p class="form-text">Price for 1 piece:</p>
				<input class="form-input" placeholder="$" type="number" step="0.01" min="0" id="sell-input">
				<p class="form-text">Amount you want to sell:</p>
				<input class="form-input" min="0" type="number" step="0.00001" id="amount-sell">
				<p class="form-text">You probably will get:</p>
				<input class="form-input" readonly id="get-input">
				<button class="form-button" id="sell-button">SELL</button>
				<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
				<script>
                    let overlay = document.getElementById('background-overlay');

                    document.onclick = function (e) {
                        if (e.target.id !== 'sell-form' && e.target.id === 'background-overlay') {
                            overlay.style.visibility = 'hidden';
                            overlay.style.background = 'rgba(0, 0, 0, 0)';
                        }
                    }

                    function open_sell_form(btn) {
                        window.currency_name = btn.dataset.name;
                        window.currency_amount = btn.dataset.amount;
                        window.currency_logo = btn.dataset.logo;
                        window.currency_id = btn.dataset.id;
                        $('#sell-name').html(`You want to sell: <b>${window.currency_name}</b>`);
                        $('#sell-amount').html(`Available to sell: <b>${window.currency_amount}</b>`);
                        overlay.style.visibility = 'visible';
                        overlay.style.background = 'rgba(0, 0, 0, 0.4)';
                    }

                    let sell_input = document.getElementById('sell-input');
                    let amount_input = document.getElementById('amount-sell');
                    let get_input = document.getElementById('get-input');

                    sell_input.oninput = function () {
                        if (amount_input.value) {
                            get_input.value = (Number(parseFloat(sell_input.value)) * Number(parseFloat(amount_input.value))) + '$';
                        }
                    }

                    amount_input.oninput = function () {
                        if (sell_input.value) {
                            get_input.value = (Number(parseFloat(sell_input.value)) * Number(parseFloat(amount_input.value))) + "$";
                        }
                    }

                    let sell_button = document.getElementById('sell-button');
                    sell_button.onclick = function () {
                        let amount_to_sell = Number(parseFloat(amount_input.value));
                        let price_for_piece = Number(parseFloat(sell_input.value));
                        $.ajax({
                            url: "{{ url_for('sell_currency_view') }}",
                            method: 'get',
                            data: {
                                'available_amount': window.currency_amount,
                                'amount_to_sell': amount_to_sell,
                                'price_for_piece': price_for_piece,
                                'currency_name': window.currency_name,
                                'logo': window.currency_logo,
                                'old_id': window.currency_id
                            },
                            success: function (message) {
                                alert(message);
                                window.location.reload();
                            }
                        })
                    }
				</script>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
{% block buy_form %}
	{% if not sell %}
		{% if is_authenticated %}
			<div class="buy-sell-form" id="buy-form">

				<p class="form-balance" id="user-balance" data-balance="{{ user.balance }}">Your
					balance: {{ user.balance }}$</p>
				<p class="form-text" id="buy-name">You want to buy:</p>
				<p class="form-text" id="buy-price">Price for 1 piece: $</p>
				<p class="form-text" id="buy-amount">Available amount:</p>
				<p class="form-text" id="buy-pay">You pay:</p>
				<input placeholder="$" class="form-input" type="number" step="0.001" id="buy-input">
				<p class="form-text">You get:</p>
				<input class="form-input" readonly id="buy-get" type="number" step="0.001">
				<button class="form-button" id="buy-currency">BUY</button>
				<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
				<script>
                    let overlay = document.getElementById('background-overlay');

                    document.onclick = function (e) {
                        if (e.target.id !== 'buy-form' && e.target.id === 'background-overlay') {
                            overlay.style.visibility = 'hidden';
                            overlay.style.background = 'rgba(0, 0, 0, 0)';
                        }
                    }

                    function open_buy_form(btn) {
                        window.btn_id = btn.dataset.id;
                        window.currency_name = btn.dataset.name;
                        window.currency_amount = btn.dataset.amount;
                        window.currency_price = btn.dataset.price;
                        $('#buy-name').html(`You want to buy: <b>${window.currency_name}</b>`)
                        $('#buy-price').html(`Price for 1 piece: <b>${window.currency_price}$</b>`)
                        $('#buy-amount').html(`Available amount: <b>${window.currency_amount}</b>`)
                        overlay.style.visibility = 'visible';
                        overlay.style.background = 'rgba(0, 0, 0, 0.4)';
                    }

                    let buy_get = document.getElementById('buy-get');
                    let pay_input = document.getElementById('buy-input');

                    pay_input.oninput = function () {
                        buy_get.value = (Number(parseFloat(pay_input.value)).toFixed(4) / window.currency_price);
                    }


                    let buy_button = document.getElementById('buy-currency')
                    buy_button.onclick = function () {
                        let cur_id = window.btn_id;
                        let balance = parseFloat(document.getElementById('user-balance').dataset.balance);
                        let payment = Number(parseFloat(pay_input.value).toFixed(2));
                        $.ajax({
                            url: "{{ url_for('buy_currency_view') }}",
                            method: 'get',
                            data: {
                                'currency_id': cur_id,
                                'payment': payment,
                                'balance': balance
                            },
                            success: function (message) {
                                alert(message);
                                window.location.reload();
                            }
                        })
                    }
				</script>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
{% block menu_main_part %}
	<div class="menu_main_part">
		<div class="menu">
			<p>Menu</p>
			<div class="menu__div">
				<a href="{{ url_for('profile_view') }}">Your profile</a>
			</div>
			<div class="menu__div">
				<a href="{{ url_for('add_currency_view') }}">Add your currency</a>
			</div>
			<div class="menu__div">
				<a href="{{ url_for('favorites_view') }}">Favorites</a>
			</div>
			<div class="menu__div">
				<a href="{{ url_for('history_view') }}">Transaction history</a>
			</div>
		</div>
		<div class="main_part">
			{% block main_part %}
			{% endblock %}
		</div>
	</div>
{% endblock %}