{% extends "main_page.html" %}
{% block main_part %}
	<div class="subheader">
		<p><b>Gitcoin P2P</b></p>
	</div>
	<div class="currencies">
		<div class="currencies_titles">
			<p class="currency-img-name">Currency</p>
			<p class="currency-price">Price</p>
			<p class="currency-amount">Amount</p>
			<label>
				<select class="currency-select" id="currency-slct">
					<option selected>USD</option>
					{% for ctd in currency_to_dollar %}
						{% if ctd.name != 'USD' %}
							<option>{{ ctd.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
				<script>
                    function roundNumber(number, digits) {
                        let multiple = Math.pow(10, digits);
                        let rndedNum = Math.round(number * multiple) / multiple;
                        return rndedNum;
                    }

                    function getNumberFromString(val) {
                        val = val.slice(0, val.length - 1);
                        let count_of_commas = val.split(',').length - 1;
                        for (let i = 0; i < count_of_commas; i++) {
                            val = val.replace(',', '');
                        }
                        return val
                    }

                    function makeCommas(chr_lst) {
                        let result = [];
                        for (let i = 0; i < chr_lst.length; i++) {
                            if (i % 3 === 0 && i !== 0) {
                                result.push(',');
                            }
                            result.push(chr_lst[i]);
                        }
                        return result
                    }

                    function reformatSumWithCommas(value, idx_num = 7) {
                        let string_val = value.toString();
                        let list_char_second = [];
                        let list_char_first;
                        if (string_val.includes('.')) {
                            let first_part = string_val.split('.')[0];
                            let second_part = string_val.split('.')[1];
                            list_char_first = first_part.split('');
                            list_char_second = second_part.split('');
                        } else {
                            list_char_first = string_val.split('');
                        }
                        list_char_first.reverse();
                        list_char_first = makeCommas(list_char_first);
                        list_char_first.reverse();
                        if (list_char_second) {
                            list_char_second = makeCommas(list_char_second);
                            if (list_char_second.length > idx_num) {
                                list_char_second = list_char_second.slice(0, idx_num);
                            }
                            let result = list_char_first.concat(list_char_second);
                            return result.join('');
                        } else {
                            return list_char_first.join('');
                        }


                    }

                    let prev_selected_option = "USD";
                    $('#currency-slct').on('change', function () {
                        let select_tag = document.getElementById('currency-slct');
                        let selected_option = select_tag.options[select_tag.selectedIndex].text;
                        $.ajax({
                            url: "{{ url_for('main_view') }}",
                            method: 'get',
                            dataType: 'html',
                            data: {'selected': selected_option, 'prev_selected': prev_selected_option},
                            success: function (data) {
                                data = JSON.parse(data)
                                let prices = document.getElementsByClassName('currency-price__p');
                                for (let i = 0; i < prices.length; i++) {
                                    new_value = reformatSumWithCommas(roundNumber(getNumberFromString(prices[i].innerHTML)
                                        / data['current_value']
                                        * data['new_value'], 2));
                                    prices[i].innerHTML = new_value + data['currency_mark'];
                                }
                            }
                        })
                        prev_selected_option = selected_option;
                    })
				</script>
			</label>
		</div>
		<div class="currency-divs">
			{% for currency in currencies %}
				{% if currency.amount > 0.00001 %}
					<div class="currency-div">
						<div class="currency-img-name">
							<div class="img-box">
								{% if currency.logo %}
									<img src="static/images/{{ currency.logo }}" alt="{{ currency.logo }} image"
										 width="73px">
								{% endif %}
							</div>
							<a {% if is_authenticated %}
								{% if user.role == "admin" or currency.owner_id == user.id %}
									href="{{ url_for('edit_currency_view', currency_id=currency.id) }}"
								{% endif %}
							{% endif %}>{{ currency.name }}</a>
						</div>
						<div class="currency-price">
							<p class="currency-price__p">{{ currency.cost_dollar|price_format }}</p>
						</div>
						<div class="currency-amount">
							<p>{{ currency.amount }}</p>
						</div>
						<div class="currency-button" id="buy-button">
							<img id="favorite-img{{ loop.index }}"
									{% if is_authenticated %}
										{% if currency.id in favorite %}
								 src="../static/images/filled-heart.png"
								 data-clicked="true"
										{% else %}
								 src="../static/images/empty-heart.png"
								 data-clicked="false"
										{% endif %}
									{% else %}
								 src="../static/images/empty-heart.png"
									{% endif %}
								 width="60px"/>
							<script>
                                console.log('')
							</script>
							{% if is_authenticated %}
								<script>
                                    let fav_button{{ loop.index }} = document.getElementById("favorite-img{{ loop.index }}");
                                    fav_button{{ loop.index }}.addEventListener("click", function (e) {
                                        let clicked{{ loop.index }} = fav_button{{ loop.index }}.dataset.clicked === "true";
                                        clicked{{ loop.index }} = !clicked{{ loop.index }};
                                        fav_button{{ loop.index }}.dataset.clicked = clicked{{ loop.index }}.toString();
                                        let operation;
                                        if (clicked{{ loop.index }} === true) {
                                            operation = 'add';
                                            fav_button{{ loop.index }}.src = "../static/images/filled-heart.png";
                                        } else {
                                            operation = 'remove';
                                            fav_button{{ loop.index }}.src = "../static/images/empty-heart.png";
                                        }
                                        $.ajax({
                                            url: "{{ url_for('add_to_favorite_view') }}",
                                            method: 'get',
                                            dataType: 'html',
                                            data: {
                                                'currency_id': {{ currency.id }},
                                                'operation': operation
                                            },
                                            success(data) {
                                                console.log('id = ', {{ currency.id }});
                                                console.log(data);
                                            }
                                        })
                                    })
								</script>
							{% endif %}
							<button data-id="{{ currency.id }}" data-amount="{{ currency.amount }}"
									data-price="{{ currency.cost_dollar }}" data-name="{{ currency.name }}"
									{% if is_authenticated %}
									onclick="open_buy_form(this)"
									{% else %}
									onclick="window.location.href='{{ url_for("login_view") }}'"
									{% endif %}>BUY
							</button>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
