{% extends 'main_page.html' %}

{% block main_part %}
	<div class="profile">
		<div class="profile-information-title">
			<p>Profile information</p>
		</div>
		<div class="profile-balance">
			<div class="balance">
				<p>Balance</p>
				<p style="text-align: left">{{ user.balance|price_format }}</p>
			</div>
			<div class="balance">
				<form method="post" name="donating-form">
					<input placeholder="$" name="donate" type="number" step="0.01">
					<button type="submit">DONATE</button>
				</form>
			</div>
		</div>
		<div class="profile-currencies">
			<div class="currencies-titles">
				<p style="margin-left: 40px; text-align: left;">Your currencies</p>
				<p>Amount</p>
			</div>
			<div class="currency-divs">
				{% if user_currencies %}
					{% for currency in user_currencies %}
						{% if currency.count > 0.000001 %}
							<div class="currency-div" style="grid-template-columns: 1fr 1fr 1fr;">
								<div class="currency-img-name">
									<div class="img-box">
										{% if currency.logo %}
											<img src="static/images/{{ currency.logo }}" alt="{{ currency.logo }} image"
												 width="73px">
										{% endif %}
									</div>
									<p>{{ currency.name }}</p>
								</div>
								<div class="currency-amount">
									<p>{{ currency.count }}</p>
								</div>
								<div class="currency-button" id="buy-button">
									<button data-name="{{ currency.name }}" data-amount="{{ currency.count }}"
											data-logo="{{ currency.logo }}" data-id="{{ currency.currency_id }}"
											onclick="open_sell_form(this)">SELL
									</button>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% else %}
					<p style="font-size: 30px; margin: 60px auto">You do not have any currencies yet :(</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}