{% extends 'main_page.html' %}
{% block main_part %}
	<div class="transactions">
		<div class="transaction-information-title">
			<p>Transactions history</p>
		</div>
		<div class="transaction-currencies">
			<div class="transactions-titles">
				<p style="margin-left: 40px; text-align: left;">Currency</p>
				<p>Seller</p>
				<p>Buyer</p>
				<p>Amount</p>
				<p>Payment</p>
			</div>
			<div class="currency-divs" style="height: 100%;">
				{% if transactions %}
					{% for transaction in transactions %}
						{% if transaction.amount > 0.00001 %}
							<div class="currency-div" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr">
								<div class="currency-img-name">
									<div class="img-box">
										<img src="static/images/{{ transaction.currency_logo }}"
											 alt="{{ transaction.currency_logo }} image"
											 width="73px">
									</div>
									<p>{{ transaction.currency_name }}</p>
								</div>
								<div class="transaction-info">
									<p>{{ transaction.seller }}</p>
								</div>
								<div class="transaction-info">
									<p>{{ transaction.buyer }}</p>
								</div>
								<div class="transaction-info">
									<p>{{ transaction.amount }}</p>
								</div>
								<div class="transaction-info">
									<p>{{ transaction.payed_sum|price_format }}</p>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% else %}
					<p style="font-size: 30px; margin: 60px auto">There are no any transactions :(</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}