html, body, .whole-page {
    height: 100%;
    background: rgb(101,157,189);
    background: linear-gradient(90deg, rgba(101,157,189,1) 0%, rgba(119,187,182,1) 99%);
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    text-shadow: 2px 4px 7px #252525;
    color: #FFF;
}
.whole-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in-form{
    min-width: 250px;
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #ffbd8e;
    border-radius: 45px;
    box-shadow: 7px 7px 20px #FBEEC1;
    margin: 40px 60px;
}
.sign-in-form__label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    gap: 10px;
    width: 80%;
    max-width: 550px;
    text-align: center;
}
.sign-in-form__input{
    width: 90%;
    border-radius: 20px;
    border: none;
    height: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    padding: 0 20px;
    color: #3d3d3d;
}
.sign-in-form__input:focus-visible{
    outline: none;
}
.sign-in-form__button{
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    color: #3d3d3d;
}