<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        div {
            background-color: aquamarine;
            border: 1px solid #000;
            margin: 10px;
            width: 200px;
            padding: 10px;
        }
    </style>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>