{% extends "base.html" %}

{% block body %}
<h1 onclick="location.href='{{ url_for('films_list')}}'">{{ title }}</h1>
<form method="get" action="?" style="padding-bottom: 20px">
	<input type="text" name="rating" placeholder="Enter minimal rating">
	<button type="submit">Filter</button>
</form>
<a href="{{ url_for('add_film_get') }}">Add a film</a>
{% for film in films %}
<div onclick="location.href = '{{ url_for("get_film", film_id=film.id) }}'">
<p>{{ film.name }}</p>
<p>{{ film.rating }}</p>
</div>
{% endfor %}
{% endblock %}
