<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title|upper }}</title>
	<style>
        div {
            background-color: aquamarine;
            border: 1px solid #000;
            margin: 10px;
            width: 200px;
            padding: 10px;
        }

        a {
            margin: 20px 20px;
            padding: 5px;
            border: 3px solid black;
            border-radius: 30px;
        }
	</style>
	{% if light_mode == "0" %}
		<style>
            html, body {
                background-color: #3d3d3d;
                color: #FFF;
            }

            div {
                background-color: black;
            }

            a:any-link {
                color: white;
                text-decoration: none;
            }
		</style>
	{% endif %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>