{% extends "base.html" %}
{% block body %}
	<a href="{{ url_for('films_list') }}">Main page</a>
    <form method="post" style="padding-top: 20px">
		<label>Light</label>
		<input type="radio" value="1" name="light_mode">
		<br>
		<label>Dark</label>
		<input type="radio" value="0" name="light_mode">
		<br>
		<button type="submit">Submit</button>
	</form>
{% endblock %}