{% extends 'base.html' %}
{% block body %}
	<a href="{{ url_for('films_list') }}">Main page</a>
	<div style="margin-top: 30px">
	<button id="btn" style="margin: 30px">Choose random</button>
	<h1 id="random_film_name" style="margin: 20px"></h1>
	<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
	<script>
        $('#btn').on('click', function () {
            $.ajax({
                url: '{{ url_for('choose_random_film') }}',
                method: 'get',
                dataType: 'html',
				data: {'choose': true},
				success: function (data) {
					data = JSON.parse(data)
					$('#random_film_name').html(data['name'])
                }
            })
        })
	</script>
	</div>
{% endblock %}