{% extends "base.html" %}

{% block body %}
	<h1 onclick="location.href='{{ url_for('films_list') }}'">{{ title|capitalize }}</h1>
	<form method="get" action="?">
		<style>
            input, button {
                margin-bottom: 10px;
            }
		</style>
		<label>Country: </label>
		<input type="text" name="country" placeholder="Enter country">
		<br>
		<label>Min. rating: </label>
		<input type="number" step="0.01" name="rating" placeholder="Enter minimal rating">
		<br>
		<button type="submit">Filter</button>
	</form>
	<a href="{{ url_for('add_film_get') }}">Add a film</a>
	<a href="{{ url_for('change_theme') }}">Change theme</a>
	<a href="{{ url_for('choose_random_film') }}">What movie to watch today?</a>
	{% for film in films %}
		<div onclick="location.href = '{{ url_for("get_film", film_id=film.id) }}'">
			<p>{{ film.name|upper }}</p>
			<p>{{ film.rating }}</p>
		</div>
	{% endfor %}
{% endblock %}
