{% extends "base.html" %}
{% block body %}
<a href="{{url_for('films_list')}}">Main page</a>
<h1>Add a film</h1>
<form method="post">
  <label>
    Name: <input type="text" name="name">
  </label>
  <br>
  <label>
    Rating: <input type="number" step="0.01" name="rating">
  </label>
  <br>
  <label>
    Country: <input type="text" name="country">
  </label>
  <br>
  <button type="submit">Add</button>
</form>
{% if status %}
<p> {{status}} </p>
{% endif %}
<style>
  input{
    margin-bottom: 20px;
  }
</style>
{% endblock %}