{% extends "base.html" %}

{% block body %}
    <h1>{{ title }}</h1>
	<a href="{{ url_for("films_list") }}">Main page</a>
    <div>
        <p>Rating: {{ film.rating }}</p>
        <p>Country: {{ film.country }}</p>
    </div>
{% endblock %}